@import url("./variables.css");
@import url("./extra-classes.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

#app {
    background: var(--primary-bg);
    width: 1512px;
    padding: calc(var(--padding-l) + 6px);
    font-family: var(--primary-ff);
    overflow-x: hidden;
}

.logo {
    width: 94px;
    height: 54px;
}

.nav {
    width: 516px;
}

.nav-link {
    font-size: var(--fs-s);
    color: var(--primary-text-color);
}

.icons {
    width: 88px;
    display: flex;
}

.icon {
    width: 24px;
    height: 24px;
}

.main {
    margin-top: var(--margin-xxxl);
}

.info {
    width: 718px;
}

.main__title {
    margin-top: 0px;
    font-size: var(--fs-xl);
}

.main__paragraph {
    font-size: var(--fs-s);
    margin-top: var(--margin-m);
}

.poster {
    width: 655px;
    height: 655px;
}

.about-us__poster {
    width:560px;
    height:664px;
}

.button-wrapper {
    margin-top: calc(var(--margin-xxl) + 8px); 
}

.button {
    font-size: var(--fs-s);
    padding: 18px 67px;
    border: 1px solid var(--secondary-text-color);
    background: inherit;
}

.about-us > .info {
    width: 564px;
}

.about-us > .info > .paragraph {
    margin-top: var(--margin-l);
    font-size: var(--fs-s);
}

.benefit-icon {
    width: 48px;
    height: 48px;
    margin-right: var(--margin-m);
} 

.benefit-title {
    font-size: var(--fs-s);
}

.benefit-paragraph {
    margin-top: var(--margin-s);
}

.product__title {
    font-size: var(--fs-m);
    margin-top: var(--margin-s);
    display: flex;
    justify-content: center;
}

.product__image {
    width: 440px;
    height: 440px;
}

.banner__image {
    width : 1512px;
}

.title {
    text-align: center;
}

.comment {
    padding: calc(var(--margin-m) + 8px);
    width:  calc(474px - (var(--margin-m) + 8px));
    background: var(--secondary-bg);
}

.comment:first-of-type {
    position: relative;
    top: 45px;
    margin-right: var(--margin-m);
    z-index: 2;
} 

.comment.snow {
    background: var(--primary-bg);
    border: 1px solid black;
    position: relative;
    top: 10px;
    z-index: 1;
}

.person {
    display: flex;
    align-items: center;
}

.person__image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.person__name {
    color: var(--primary-text-color);
    font-family: var(--secondary-ff);
}

.person__paragraph {
    margin-top: var(--margin-m);
}