/*
    --Y-xxxl : ;
    --Y-xxl : ;
    --Y-xl : ;
    --Y-l : ;
    --Y-m : ;
    --Y-s : ;
    --Y-xs : ; 
*/

/* 
    --primary-X:;
    --secondary-X :;
    --third-X :;
    --fourth-Y :;

    --warning-Y :;
    --danger-Y :;
    --accept-Y :;
*/

@font-face {
    font-family: "inter";
    src: url("../public/fonts/Inter/Inter.ttf");
}

@font-face {
    font-family: "nanum";
    src: url("../public/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
}

:root {
    /* PADDING */
    --padding-xxxl : 160px;
    --padding-xxl : 60px;
    --padding-xl : 50px;
    --padding-l : 40px;
    --padding-m : 30px;
    --padding-s : 20px;
    --padding-xs : 10px; 

    /* MARGIN */
    --margin-xxxl : 160px;
    --margin-xxl : 60px;
    --margin-xl : 50px;
    --margin-l : 40px;
    --margin-m : 30px;
    --margin-s : 20px;
    --margin-xs : 10px; 

    /* FONT_FAMILY */
    --primary-ff : "inter";
    --secondary-ff : "nanum";

    /* FONT_SIZE */
    --fs-xl : 70px;
    --fs-l : 42px;
    --fs-m : 20px;
    --fs-s : 18px;
    --fs-xs : 16px; 

    /* TEXT_COLOR */
    --primary-text-color : rgb(119, 119, 119);
    --secondary-text-color : rgba(46, 41, 39, 1) ;
    --third-text-color : rgb(46, 41, 39);
    --fourth-text-color : rgba(255, 255, 255, 1) ;
    
    /* BACKGROUND */
    --primary-bg : #F5F5F5;
}